#User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

#Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild
bld/
[Bb]in
[Oo]bj

#editor files
.vscode
.*.swp

#Visual Studio 2015/2017 cache/options directory
.vs/

**/*.idea
**/*.iml
**/*out